{% extends 'base.html.twig' %}

{% block title %}Edit DocumentPersonnel{% endblock %}

{% block body %}
    <h1>Edit DocumentPersonnel</h1>

    {{ include('gandaal/admin_site/document_personnel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gandaal_admin_site_document_personnel_index') }}">back to list</a>

    {{ include('gandaal/admin_site/document_personnel/_delete_form.html.twig') }}
{% endblock %}
