{% extends 'base.html.twig' %}

{% block title %}Edit avancePersonnel{% endblock %}

{% block body %}
    <h1>Edit avancePersonnel</h1>

    {{ include('gandaal/administration/comptabilite/avance_personnel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gandaal_administration_comptabilite_avance_personnel_index') }}">back to list</a>

    {{ include('gandaal/administration/comptabilite/avance_personnel/_delete_form.html.twig') }}
{% endblock %}
