{% extends 'base.html.twig' %}

{% block title %}Edit Tuteur{% endblock %}

{% block body %}
    <h1>Edit Tuteur</h1>

    {{ include('gandaal/administration/scolarite/tuteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gandaal_administration_scolarite_tuteur_index') }}">back to list</a>

    {{ include('gandaal/administration/scolarite/tuteur/_delete_form.html.twig') }}
{% endblock %}
