<form method="post" action="{{ path('app_gandaal_administration_pedagogie_admin_configuration_module_delete', {'id': configuration_module.id, 'etablissement' : etablissement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ configuration_module.id) }}">
    <button class="btn">Delete</button>
</form>
