{% extends 'base_gandaal.html.twig' %}
{% block title %}ajout recette{% endblock %}
{% block ul_menu %}
    {% include "gandaal/_common/_nav_comptabilite.html.twig" %}
{% endblock %}

{% block produits %}
    <div class="row m-auto" style="min-height: 90vh; background-image: url('{{asset(chemin_images_config)}}fond.jpg');">
        {% include "gandaal/_common/_nav_comptabilite_2.html.twig" %}

        <div class="col-sm-12 col-md-10">
            {{ include("gandaal/_common/_messages_flash.html.twig") }}  
            <h3>Ajouter une recette</h3>

            {{ include('gandaal/administration/comptabilite/recette/_form.html.twig') }}

            <a class="btn btn-light my-4" href="{{ path('app_gandaal_administration_comptabilite_recette_index', {etablissement : etablissement.id}) }}">Retour</a>
        </div>
    </div>
{% endblock %}
