<ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-start">
    <li class="nav-item">
        <a class="nav-link active btn btn-danger text-light m-1" aria-current="page" href="{{path("app_gandaal_administration_home", {etablissement : etablissement.id})}}">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active btn btn-danger text-light m-1" aria-current="page" href="{{path("app_gandaal_administration_secretaraiat_statistique_index", {etablissement : etablissement.id})}}">Statistiques</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active btn btn-danger text-light m-1" aria-current="page" href="{{path("app_gandaal_administration_secretariat_admin_personnel_new_gestion_personnel", {etablissement : etablissement.id})}}">Gest/Personnels</a>
    </li>
    

</ul>