<form method="post" action="{{ path('app_gandaal_administration_comptabilite_depense_delete', {id : depense.id, etablissement : etablissement.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir sipprimer cette depense ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ depense.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
