{% extends 'base_gandaal.html.twig' %}
{% block title %}ajout configuration{% endblock %}
{% block ul_menu %}
    {% include "gandaal/_common/_nav_admin_site.html.twig" %}
{% endblock %}

{% block produits %}
    <div class="row m-auto mt-1" style="min-height: 100vh; background-image: url('{{asset(chemin_images_config)}}fond.jpg');">

        <div class="col-sm-12 col-md-10 m-auto  mt-1">
            {{ include("gandaal/_common/_messages_flash.html.twig") }}
            <h3>Configuration du logiciel</h3>

            {{ include('gandaal/admin/configuration_logiciel/_form.html.twig') }}

            <a class="btn btn-light my-4" href="{{ path('app_gandaal_admin_configuration_logiciel_index', {'etablissement' : etablissement.id}) }}">Retour</a>
        </div>
    </div>
{% endblock %}
