{% extends 'base.html.twig' %}

{% block title %}Edit HeureTravaille{% endblock %}

{% block body %}
    <h1>Edit HeureTravaille</h1>

    {{ include('gandaal/administration/pedagogie/admin/heure_travaille/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gandaal_administration_pedagogie_admin_heure_travaille_index') }}">back to list</a>

    {{ include('gandaal/administration/pedagogie/admin/heure_travaille/_delete_form.html.twig') }}
{% endblock %}
